* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #fff;
    color: #424242;
    font: normal 15px "Open Sans", arial, sans-serif;
    font-weight: 300;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    background:#fff;
    border-bottom:2px solid #f0f0f0;
    z-index: 999;
   
}
.logo-header{
    width: 6rem;

}
 
.navbar-custom .navbar-nav .nav-link{
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.2s;
    color: #143675;
    font-weight: 500;
    opacity: 1;
    text-transform: uppercase;
    font-size: .9em;
    padding-right: 30px !important;
    margin-right: 20px;
    border-right: 1px solid #14367556;
    height: 2.5rem;
   
}

.navbar-custom .navbar-nav .nav-link:hover{
  color:#c22525;
    
}


.ulNavBar{
    margin-top: 0;
    margin-left: auto;
}

.navbar-toggler{
    margin-top: 0;
    margin-left: auto;
}
#banner{
    width: 100%;
  
   
}

.header-space {
    height: 8rem; 
    
}

h1 h2{
    font-size: 2.4em;
    letter-spacing: 0.20em;
    text-align: center;
    color: #060606;
    font-weight: 300;
    line-height: 1.17em;
   
}
p{
    text-align: center;
    line-height: 1.6em;
}


.textDescription{
text-align: center;
align-items: center;
justify-self: center;
background: red;
margin: 4rem 4rem 4rem 4rem;
}

.carousel{
    padding-left: 2%;
    padding-right: 2%;
}
ul{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

#socialMediaIconsContainer{
    position: fixed;
    right: 0;
    bottom: 10px;
    float: right;
    padding: 12px 17px 1px;
}
.container-whatsapp-icon {
    background: #143675;
    border-radius: 600px;
    padding: 10px 10px;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: breatheAndRotate 5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes breatheAndRotate {
    0%, 100% {
        transform: translate(-20%, -20%) rotate(0deg) scale(1);
    }
    50% {
        transform: translate(-40%, -20%) rotate(10deg) scale(1.2); 
    }
}
