/* en CSS las etiquetas tienen un orden de jerarquia, ID= 100, Class= 10, Etiqueta= 1(incluso cuando accedes de etiqueta en etiqueta hasta llegar a la que necesitas) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background: #fff;
    color: #424242;
    font: normal 15px 'Open Sans', arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    border-bottom: 2px solid #f0f0f0;
    z-index: 999;
  }
  .logo-header {
    width: 4.2rem;
    margin-left: 30px;
  }
  .separadorDeTitulo {
    font-weight: bold !important;
  }
  
  .navbar-custom .navbar-nav .nav-link {
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.2s;
    color: #143675;
    font-weight: 500;
    opacity: 1;
    text-transform: uppercase;
    font-size: 0.9em;
    padding-right: 30px !important;
    margin-right: 20px;
    border-right: 1px solid #14367556;
    height: 2.5rem;
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #c22525;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
    letter-spacing: 1px;
    vertical-align: top;
    text-align: left;
  }
  
  .ulNavBar {
    margin-top: 0;
    margin-left: auto;
  }
  
  .navbar-toggler {
    margin-top: 0;
    margin-left: auto;
  }
  #banner {
    width: 100%;
  }
  
 
  
  .mainContacto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  form{
    margin:40px 0;
    
   
  }
  form label, form p{
    display: block;
    font-size: 20px;
    margin:0 0 2px;
  }
  .input-padron{
    display: block;
    margin:0 0 20px;
    padding:5px 40px;
    width: 100%;
  }

  .label-checkbox{
    margin:20px 0;
  }
  
  footer {
    background-color: black;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 13px;
  }
  footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .liFooter {
    padding: 10px;
  }
  