* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  color: #424242;
  font: normal 15px 'Open Sans', arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  border-bottom: 2px solid #f0f0f0;
  z-index: 999;
}
.logo-header {
  width: 4.2rem;
  margin-left: 15px;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separadorDeTitulo {
  font-weight: bold !important;
}

.navbar-custom .navbar-nav .nav-link {
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.2s;
  color: #143675;
  font-weight: 500;
  opacity: 1;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-right: 30px !important;
  margin-right: 20px;
  border-right: 1px solid #14367556;
  height: 2.5rem;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #c22525;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  letter-spacing: 1px;
  vertical-align: top;
  text-align: left;
}

.ulNavBar {
  margin-top: 0;
  margin-left: auto;
}

.navbar-toggler {
  margin-top: 0;
  margin-left: auto;
}
#banner {
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;

}
main ul {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding-left: 0 !important;
  
}

main ul li a{
  text-decoration: none; /* Eliminar subrayado del enlace */
color: inherit; /* Usar el color del texto heredado */
}
main ul li {
  display: inline-block;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.486);
  margin: 20px 20px 20px 20px;
  width: 410px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave de 0.3 segundos */
}
main ul li:hover {
 transform: scale(1.1); /* Escala la imagen al 120% de su tamaño original */
 background-color: rgba(255, 0, 0, 0.671);
}


main ul li img {
  width: 410px;
}

main ul h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 2px;
   color: #424242;
}

footer {
  background-color: black;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #fff;
  font-size: 13px;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

.liFooter {
  padding: 10px;
}
